.html, * {
    margin:0px;
    box-sizing: border-box;
    
   
}

.container{
    display:flex;
    width:100%;
    height: 100vh;
    background-color: rgb(245, 244, 244);
}

.leftside{
    width:39%;
    background-image: url(plants.jpg);
    background-size:cover;
    height: 100%;
}

.rightside{
    background-color: rgb(245, 244, 244);
    display: flex;
    width: 61%;
    flex-direction: column;
    
}

@font-face {
    font-family: Berkshire;
    src: url(BerkshireSwash-Regular.ttf);
}
.infoBox{
    padding-top: 5vh;
    width: 100%;
    display: flex;
    height: 40%;
    align-items: center;
    font-size: 3vh;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 4vh;
}

.infoBox p {
    margin-left: 8%;
    margin-right: 15%;
    font-weight: bold;
}

fieldset{
    border:none;
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: darkslategray;
    min-height: 100px;
    max-height: 1000px;

}
form{
    display: flex;
    padding-left: 8%;
    flex-wrap: wrap;
    gap:4vw;

}

.leftForm{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.rightForm{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

label,input{
    display:flex;
    flex-direction:column;
    margin-top: 3px;
  }

  button{
    margin-left: 9%;
    margin-top: 4%;
    background-color: rgb(45, 95, 45);
    border-radius: 9px;
    padding:12px;
    border:none;
    color:white;
    font-weight: bold;
    box-shadow: 1cm;
    padding-left: 54px;
    padding-right: 54px;;
  }

  button:hover{
    margin-left: 9%;
    margin-top: 4%;
    background-color: rgb(45, 95, 45);
    border-radius: 9px;
    padding:12px;
    border:none;
    color:white;
    font-weight: bold;
    box-shadow: 1cm;
    padding-left: 54px;
    padding-right: 54px;;
    transform: scale(1,1.1);
  }

input{
    border:2px solid rgb(238, 232, 232);
    border-radius: 4px;
    
}



.signIn{
    display:  flex;
    flex-wrap: wrap;
    margin-left: 9%;
    margin-top: 4%;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  a{
    text-decoration: none;
    color:rgb(45,95,45);
    font-weight: 900;
  }


  input:invalid{
    border:rgb(0, 255, 0);
  }

  input:invalid{
    border:red;
  }


  .overlay{
    color:rgb(255, 255, 255);
    width:100%;
    height: fit-content;
    position: relative;
    top:20%;
    background-color:rgba(0, 0, 0, 0.425);
    font-size: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

.waterCan{
    color:azure;
    overflow: auto;
    width:5vw;
    
}


@media screen and (max-width:1000px){
    .container { flex-direction: column;}
    .rightside {width: 100vw; height: 50vh; margin-top: 3vh;}
    .leftside { width: 100vw; height: 30vh;}
    .overlay {position:sticky; }
}

